body {
  font-family: sans-serif;
}

nav {
  height: 58px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;

}

.navLeft {
  width: 17%;
  padding-left: 14px;

  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
}

.botonGray {
  width: 72%;
  height: 70%;
  display: flex;
  background-color: #f9f9f9;
  align-items: center;
  border-radius: 30px;
}

.glassSpace {
  padding-left: 15px;
}

.searchSpace {
  padding-left: 12px;
  color: gray;
}

.navRight {
  width: 13%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.writeSpace {
  padding-left: 10px;
  align-items: center;
  padding-top: 4px;
}

.button_navRight {
  display: flex;
  width: 80px;
  background: none;
  border: none;
  cursor: pointer;
}

.button_navRight:hover {
  color: blue;
}

.avatarProfile {
  width: 56px;
  height: 56px;
  border-radius: 50px;
}

.secondHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #f9f9f9;
}

main {
  width: 61%;
  height: 100%;

  float: left;
  display: flex;
  flex-direction: column;
  align-items: end;
  border-right: 1px solid #f2f2f2;
}
.mainLetters {
  width: 67%;
  height: 60px;
  display: flex;
  border-bottom: 1px solid #f2f2f2;
  align-items: center;
  padding-left: 36px;
}

.optionMainspace {
  padding-left: 24px;
}

.mainPost {
  width: 67%;
  height: 270px;
  border-bottom: 1px solid #f2f2f2;

  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.post {
  width: 60%;
  height: 240px;
}

.infoProfile {
  display: flex;
  padding-top: 15px;
}

.avatarPost {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.imagePost {
  width: 160px;
  height: 160px;
  padding-top: 48px;
}

.namePost {
  padding-left: 8px;
  padding-top: 10px;
  font-size: 17px;
}

.tittlePost{
  font-size: 24px;
  font-weight:bold;
  margin-top: 10px;
}

.textPost{
  margin-top: 8px;
}

.partButtons {
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
}

.btn_edit {
  width: 80px;
  height: 30px;
}

.btn_delete {
  width: 80px;
  height: 30px;
}

.btn_edit:hover {
  background-color: rgb(32, 32, 198);
  color: white;
}

.btn_delete:hover {
  background-color: rgb(198, 32, 49);
  color: white;
}

aside {
  width: 37%;
  float: right;
 
  display: block;
}

.partStaff {
  padding-top: 24px;
}

.asidePost {

  height: 100px;
  padding-top: 20px;
}

.tittleAside {
  font-weight: bolder;
  padding-top: 6px;
}

.greenLetters {
  color: green;
  padding-top: 30px;
  font-weight: bolder;
}

.squareBlue {
  margin-top: 60px;
  background-color: rgb(92, 161, 235);
  width: 300px;
  height: 260px;
  border-radius: 14px;
}

.buttonBlack {
  background-color: black;
  color: #f2f2f2;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  margin-top: 16px;
}

.iconX {
  display: flex;
  justify-content: end;
  padding-right: 16px;
  padding-top: 7px;
}

.writingFirts {
  font-weight: 900;
  padding-left: 16px;
  padding-bottom: 18px;
}
.writingSecond {
  font-weight: bold;
  padding-left: 16px;
  padding-top: 12px;
}
